{% extends 'layout.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"> </script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js",integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous"></script>
    <!-- <script src="/static/js/scale.js"></script> -->
    <script src="/static/js/graph.js"></script>
        <style>
            body {
                margin:0;
            }
            canvas {
                border: 1px solid red;
            }
        </style>
{% endblock %}

{% block content %}
    <div id="pointsForm">
        <input id="code" type="text">
        <input id='run' value="Run" type="button">
        <input id='send_points' value="Send Points" type="button">
        <input id='add_point' value="Add Point" type="button">
    </div>
    <script>
            pointStr = "<div class=\"point\"><p>Point</p><label for=\"pointX\">Point X</label><input name=\"pointX\" required><label for=\"pointY\">Point Y</label><input name=\"pointY\" required><input class='remove_point' value=\"Del\" type=\"button\"></div>"

            $('#send_points').click((e)=>{
                let data  = []
            
                $('.point').each((i,el)=>{
                    mypoint = {}
                    $(el).children('input').each((j, p) => {
                        if($(p).attr('type') != 'button') {
                            mypoint[$(p).attr('name')] = $(p).val()
                        }
                    })
                    data.push(mypoint)
                })

                $.ajax({
                    type: "POST",
                    url: '/points',
                    contentType: 'application/json',
                    data: JSON.stringify(data)
                }).then((res)=>{
                    drawRes(res)
                })
            })

            $('#add_point').click((e) => {
                $(pointStr).insertBefore("#send_points");
            })

            $('.remove_point').click((e) => {
                $(e.currentTarget).parent().remove();
            })
    
            $('#run').click((e) => {
                data = $('#code').val()
                $.ajax({
                    type: "POST",
                    url: '/code',
                    contentType: 'text',
                    data: data
                }).then((res)=>{
                    drawRes(res)
                })
            })
    </script>
{% endblock %}