{% extends 'layout.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"> </script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js",integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous"></script>
    <script src="/static/js/scale.js"></script>
        <style>
            body {
                margin:0;
        }
        </style>
{% endblock %}

{% block content %}
    <form method="post", action="/points">
        <div>Point1</div>
        <label for="point1X">Point X</label>
        <input name="point1X" id="point1X" required>
        <label for="point1Y">Point Y</label>
        <input name="point1Y" id="point1Y" required>

        <div>Point2</div>
        <label for="point2X">Point X</label>
        <input name="point2X" id="point2X" required>
        <label for="point2Y">Point Y</label>
        <input name="point2Y" id="point2Y" required>
        
        <input id='send_points' value="Send" type="button">
    </form>
    <script>
            $('#send_points').click((e)=>{
                $.ajax({
                    method: "POST",
                    url: '/points',
                    data: {x1: $('#point1X').val(),y1: $('#point1Y').val(),x2: $('#point2X').val(),y2: $('#point2Y').val()}
                }).then((res)=>{
                    drawRes(res)
                })
            })
    </script>
{% endblock %}