{% extends 'layout.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"> </script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js",integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous"></script>
    <!-- <script src="/static/js/scale.js"></script> -->
        <style>
            body {
                margin:0;
            }
            canvas {
                border: 1px solid red;
            }
        </style>
{% endblock %}

{% block content %}
    <div id="pointsForm" class="col-6">
        <div class="row"><h2>Enter problem:</h2></div>
        <div class="row"><textarea id="code" class="col-9 form-control" rows="10" cols="40"></textarea></div>
        <div class="row">
            <input id='run' class="col-2 btn btn-success" value="Run" type="button">
            <div class="col-2"><h4>Answer:</h4></div>
            <div class="col-8"><h4 id='answer'></h4></div>
        </div>
        <div id="canvas_container" class="row">
            <div class="col">
                <div class="row"><input id='zoom' class="drawing_button btn btn-light" value="+" type="button"></div>
                <div class="row"><input id='unzoom' class="drawing_button btn btn-light" value="-" type="button"></div>
            </div>
        </div>
    </div>
    <script>
            pointStr = "<div class=\"point\"><p>Point</p><label for=\"pointX\">Point X</label><input name=\"pointX\" required><label for=\"pointY\">Point Y</label><input name=\"pointY\" required><input class='remove_point' value=\"Del\" type=\"button\"></div>"

            $('#send_points').click((e)=>{
                let data  = []
            
                $('.point').each((i,el)=>{
                    mypoint = {}
                    $(el).children('input').each((j, p) => {
                        if($(p).attr('type') != 'button') {
                            mypoint[$(p).attr('name')] = $(p).val()
                        }
                    })
                    data.push(mypoint)
                })

                $.ajax({
                    type: "POST",
                    url: '/points',
                    contentType: 'application/json',
                    data: JSON.stringify(data)
                }).then((res)=>{
                    drawRes(res)
                })
            })

            $('#add_point').click((e) => {
                $(pointStr).insertBefore("#send_points");
            })

            $('.remove_point').click((e) => {
                $(e.currentTarget).parent().remove();
            })
    
            
    </script>
        <script src="/static/js/graph.js"></script>
{% endblock %}